<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>UCL Flaxman Art Gallery</title>
    </head>
    <body>
        
            
        <div class="header">
        <script id="entry-template" type="text/x-handlebars-template">
            {{{title}}}
            <p>lol</p>
        </script>
        </div>
        <div>
            <div style=""><br/><br/>
                <p>List of links (temporary)</p>
                <a href="AppleMap.html" class="button">Apple Map</a><br/>
                <a href="home.html" class="button">Home</a><br/>
                <a href="Search.html" class="button">Search</a><br/>
                <a href="Details.html" class="button">Details</a><br/>
                <a href="UCLmap.html?type=" class="button">UCL map</a><br/>
                <a href="home.php" class="button">TEMPLATE TEST</a><br/>
            </div>
            <div class="app">
                <div id="deviceready" class="blink">
                    <p class="event listening">Connecting to Device</p>
                    <p class="event received">Device is Ready</p>
                </div>
            </div>
            
        </div>
        
        
        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script src="js/handlebars-v2.0.0.js"></script>
        <script>
            var source   = $("#entry-template").html();
            var template = Handlebars.compile(source);
            var data = {
                title:"\
                    <div class='item'>\n\
                        Flaxman Art Gallery\n\
                    </div>\n\
                    <!-- Buttons -->\n\
                    <div class ='menu'>\n\
                        <form action='home.html'><input type='submit' class='Headerbtn' value='&#xe604'>\n\
                        </form>\n\
                        <form action='Search.html'>\n\
                        <input type='submit' class='Headerbtn' value='&#xe606'>\n\
                        </form>\n\
                        <form action='AppleMap.html'>\n\
                        <input type='submit' class='Headerbtn' value='&#xe609'>\n\
                        </form>\n\
                    </div>"
            };
            
            $('header').append(template(data));
        </script>
        
    </body>
</html>