<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/index.css" />
        
<script type="text/javascript" src="mustache.js" ></script>
 
    
    </head>
    <body>
        <div id="templateTop" >
        <div class="header">
            <div class="item">Flaxman Art Gallery</div>
            <!-- Buttons -->
            <div class ="menu">
                <form action="../home.html">
                    <input type="submit" class="Headerbtn" value="&#xe604">
                </form>
                <form action="Search.html">
                    <input type="submit" class="Headerbtn" value="&#xe606">
                </form>
                <form action="AppleMap.html">
                    <input type="submit" class="Headerbtn" value="&#xe609">
                </form>
            </div>
        </div>
        <div id="grad" style="padding: 5%;"></div>
    </div>
    </body>
</html>
