<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.angelolakra.cordova.mbxmapkit" version="1.0.1">

  <name>MBXMapKit</name>
  <description>MBXMapKit Plugin for Cordova</description>

  <license>MIT, </license>
  <keywords>cordova,mbxmapkit,mapkit,mapbox,maps,map</keywords>

  <js-module src="www/mbxmapkit.js" name="mbxmapkit">
    <clobbers target="mbxmapkit" />
  </js-module>

  <js-module src="www/q.min.js" name="q">
    <clobbers target="q" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MBXMapKit">
        <param name="ios-package" value="CDVMBXMapKit"/>
      </feature>
    </config-file>

    <framework src="MapKit.framework" weak="true" />
    <framework src="libsqlite3.dylib" weak="true" />

    <header-file src="vendor/mbxmapkit/MBXMapKit/MBXConstantsAndTypes.h" />

    <header-file src="vendor/mbxmapkit/MBXMapKit/MBXMapKit.h" />
    <source-file src="vendor/mbxmapkit/MBXMapKit/MBXMapKit.m" />

    <header-file src="vendor/mbxmapkit/MBXMapKit/MBXOfflineMapDatabase.h" />
    <source-file src="vendor/mbxmapkit/MBXMapKit/MBXOfflineMapDatabase.m" />

    <header-file src="vendor/mbxmapkit/MBXMapKit/MBXOfflineMapDownloader.h" />
    <source-file src="vendor/mbxmapkit/MBXMapKit/MBXOfflineMapDownloader.m" />

    <header-file src="vendor/mbxmapkit/MBXMapKit/MBXPointAnnotation.h" />
    <source-file src="vendor/mbxmapkit/MBXMapKit/MBXPointAnnotation.m" />

    <header-file src="vendor/mbxmapkit/MBXMapKit/MBXRasterTileOverlay.h" />
    <source-file src="vendor/mbxmapkit/MBXMapKit/MBXRasterTileOverlay.m" />

    <header-file src="src/ios/CDVMBXMapKit.h" />
    <source-file src="src/ios/CDVMBXMapKit.m" />

    <header-file src="src/ios/CDVMBXAnnotation.h" />
    <source-file src="src/ios/CDVMBXAnnotation.m" />

    <header-file src="src/ios/CDVMBXAnnotationType.h" />
    <source-file src="src/ios/CDVMBXAnnotationType.m" />

    <header-file src="src/ios/CDVMBXAnnotationView.h" />
    <source-file src="src/ios/CDVMBXAnnotationView.m" />
  </platform>
</plugin>
