/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

    h1 {
        color:white;
        font-size:22px;
        font-weight:normal;
        margin:0px;
        overflow:visible;
        padding:0px;
        text-align:center;
    }
    
    h2{
        color:black;
        font-size:14px;
        font-weight:normal;
        margin:0px;
        overflow:visible;
        padding:0px;
        text-align:left;
    }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
        );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:4.5vmin;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.header {
    //position: fixed;
    background:url(../img/uclLogo.png) no-repeat right top;
    background-size: 120%;
    left:0%;
    top: auto;
    width: -2%;
    height:auto;
}
/*Flaxman Gallery logo*/
.item{
    display:inline-block;
    padding:5% 0% 0% 2%;
    margin:0px;
    color:white;
}
.container {
    overflow: hidden;
}
.button{
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; 
    color: ButtonText;
    display: inline-block; 
    padding: 2px 2px;
}
.Headerbtn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 5.5vmin;
    background: transparent;
    padding: 2% 2% 2% 2%;
    text-decoration: none;
    border: 0px;
}
.Headerbtn:hover {
    color: #4D224F;
    text-decoration: none;
}
form{
    display: inline;
}
/* Portrait layout (default) */
.app {
/*    background:url(../img/uclLogo.png) no-repeat center top;  170px x 200px 
    position:fixed; position in the center of the screen 
    background-size: 350px;
    left:20%;
    top:22%;*/
    height:200px;                   /* text area height */
    //width:435px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:10px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qj0hqs');
	src:url('../fonts/icomoon.eot?#iefixqj0hqs') format('embedded-opentype'),
		url('../fonts/icomoon.woff?qj0hqs') format('woff'),
		url('../fonts/icomoon.ttf?qj0hqs') format('truetype'),
		url('../fonts/icomoon.svg?qj0hqs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

input[type="submit"]{
    font-family: 'icomoon';
}

[data-icon]:before {
        font-family: 'icomoon';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
